.listWrapper {
  padding: 40px 0 0 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 12px;
  justify-content: center;
  justify-items: center;
}